.check{
  font-size: 30px;
  margin: 50px;
  padding: 20px;
  background-color: rgba(0,0,0,.3);
  border-radius: 20px;
  text-align: center;
}

.check:hover{
  -webkit-transition: box-shadow .3s,-webkit-transform .3s;
  transition: background-color .3s,-webkit-transform .3s;
  transition: background-color .3s,transform .3s;
  transition: background-color .3s,transform .3s,-webkit-transform .3s;
background-color: rgba(0, 0, 0, .8);
box-shadow: 2px 2px lightgrey;
}


div.image{
  background-image: url('https://res.cloudinary.com/dyrvlnond/image/upload/v1598457469/portfolio/Desk_ufecu9.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width:100%;
  height: 1000px;
  margin-top: 90px;
  display: flex;
  align-items: center;
}

.intro{
  color: white; 
  font-size: 40px;
  text-align: center;
  padding: 20px ;
  align-self: left;
  /* padding-left: 10%; */
  max-width: 500px;
}

.text{
  margin-left: 15%;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white
}

@media screen and (max-width: 720px) {
  div.image{
    background-size: contain;
    justify-content: center;
  }
  .intro{
    font-size: 30px;
  }
  
  .text{
    margin-left: 1px;;
    padding: 2%;
  }
}