.check{
  font-size: 30px;
  margin: 50px;
  padding: 20px;
  background-color: rgba(0,0,0,.3);
  border-radius: 20px;
}

.check:hover{
  -webkit-transition: box-shadow .3s,-webkit-transform .3s;
  transition: background-color .3s,-webkit-transform .3s;
  transition: background-color .3s,transform .3s;
  transition: background-color .3s,transform .3s,-webkit-transform .3s;
background-color: rgba(0, 0, 0, .8);
box-shadow: 2px 2px lightgrey;
}


div.image{
  background-image: url('https://res.cloudinary.com/dyrvlnond/image/upload/v1620677192/portfolio/gradienta-1LirzgcpY2c-unsplash_a43fkb.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* -webkit-clip-path: polygon(0 0, 0 100px, 100px 80px, 100px 0); */
  clip-path: polygon(0 0, 0 100%, 100% 50%, 100% 0);
  width:100%;
  height: 15%;
  display: flex;
  align-items: center;
}

.text{
  color: white; 
  font-size: 40px;
  text-align: center;
  padding: 20px 30%;
  align-self: left;
  padding-left: 10%;
  max-width: 500px;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: white
}

@media screen and (max-width: 720px) {
  div.image{
    background-size: contain;
    justify-content: center;
  }
  .text{
    padding: 0%;
  }
}