label{
  margin: 10px auto;
}

.email{
  width: 40%;
  font-size: 30px;
}

.forms{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea{
  font-size: 30px;
  height: 300px;
  width: 40%;
  vertical-align: text-top;
}


.submit{
  margin: 20px;
  font-size: 20px;
}

.work-together{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.message, .email{
  box-shadow: 5px 5px 5px black;
  border-radius: 20px;
}

@media screen and (max-width: 720px) {
  textarea{
    width: 90%;
    font-size: 20px;
  }
  .email{
    font-size: 20px;
    height: 40px;
    width: 90%;
  }
}