.skills{
  margin: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-icon{
  height: 100px; 
}

@media screen and (max-width: 720px) {
  .skill-icon{
    height: 50px;
  }
}