body{
  font-family: "sohne-var","Helvetica Neue","Arial",sans-serif;
  background-color:black; 
  display: flex;
}

html {
  scroll-behavior: smooth;
}

h2{
  font-size: 40px;
}

p{
  font-size: 24px !important;
}

a{
  margin: 0
}