.header{
  position: absolute;
  overflow: hidden;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 99;
}

.nav-bar{
  display: flex;
  margin: 20px;
  justify-content: space-between;
}

.nav-buttons{
  margin: auto 20px;
  list-style: none;
  font-size: 20px;
}

.name{
  margin: 20px;
  align-items: left;
}

a.nav-buttons:link, a.nav-buttons:visited, a.nav-buttons:hover, a.nav-buttons:active {
  text-decoration: none;
  color: black
}

@media screen and (max-width: 720px) {

  .header{
    align-items: center;
    justify-content: space-between;
  }

  .name{
    font-size: 40px;
    margin: auto 5%;
  }


  #top, #contact, #projects{
    display: none;
  }


}