.about-container{
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about{
  text-align: center;
}

@media screen and (max-width: 720px) {
  .about{
    font-size: 40px;
  }
  .me{
   font-size: 20px; 
   text-align: center;
   padding: 2%;
   padding-top: 5%;
   margin-bottom: 5%;
  }

  article.project-card{
    margin: auto 2%;
    margin-top: auto;
  }
}
