article.project-card{
  margin-top: 500px;
}

.about{
  text-align: center;
  margin-bottom: 5px;
  font-size: 70px;
}

.me{
    text-align: left;
    padding: 20px 10%;
    font-size: 30px;
    margin-bottom: 60px;
}

@media screen and (max-width: 720px) {
  .about{
    font-size: 40px;
  }
  .me{
   font-size: 20px; 
   text-align: center;
   padding: 2%;
   padding-top: 5%;
   margin-bottom: 5%;
  }

  article.project-card{
    margin: auto 2%;
    margin-top: auto;
  }
}
