.welcome-container{
  position: fixed;
  z-index: 99;
  background-color: black;
  text-align: center;
  height: 100%;
  width: 100%;
  animation: wipe .5s ease-out;
  animation-fill-mode: forwards;
  animation-delay: 5s;
}

.welcome{
  color: rgba(255,255,255,0);
  animation: slide-in-welcome 2s ease-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.pete{
  font-size: 34px;
  animation: slide-in-pete 2s ease-out;
  animation-fill-mode: forwards;
}

.text-container{
  animation: fade-away 1s linear;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
}

@media screen and (max-width: 720px) {
  /* .welcome-container{
    height: 10
  } */
}

@keyframes slide-in-welcome{
  from {
    margin-top: 30%;
    color: rgba(255,255,255,0)
  }
  to {
    margin-top: 10%;
    color: rgba(255,255,255,1);
  }
}

@keyframes slide-in-pete{
  from {
    margin-top: -100px;
    color: rgba(255,255,255,0)
  }
  to {
    margin-top: 20%;
    color: rgba(255,255,255,1);
  }
}

@keyframes wipe {
  from {
    height: 100%;
    width: 100%;
  }

  to {
    height: 0vh;
    width: 0vw;
    display: hidden
  }
}  

@keyframes fade-away{
  from {opacity: 1}
  to {opacity: 0}
}
