p{
  margin: 5px;
}

.buttons{
  color: black;
  font-size: 30px;
}

.card-container{
  padding-top: 100px;
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.image-description{
  display: flex;
  flex-direction: row;
}

.project-card{
  background-color: white;
  margin: 50px 10%;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px black;
}

.project-details{
  display: flex;
  flex-direction: column;
  margin: auto 20px;
}

.project-image{
  max-width: 500px;
  border-radius: 20px;
  align-self: center;
  border: 1px solid black;
}

.project-image:hover{
  -webkit-transition: box-shadow .3s,-webkit-transform .3s;
    transition: box-shadow .3s,-webkit-transform .3s;
    transition: box-shadow .3s,transform .3s;
    transition: box-shadow .3s,transform .3s,-webkit-transform .3s;
  box-shadow: 5px 5px grey;
}

.project-title{
  margin-top: 2px;
  font-size: 40px;
  font-style: italic;
}

.project-git, .project-url{
  margin: auto 10px;
  font-size: 20px;
}

.project-type{
  font-size: 30px;
  font-style: italic;
  color: royalblue;
}

@media screen and (max-width: 720px) {
  .card-card{
    display: flex;
    flex-direction:column;
  }
  
  .image-description{
    flex-direction: column;
  }

  .project-card{
    margin: 20px 2%;
  }
  
  .card-container{
    padding-top: auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }

  .project-image{
    max-width: 80%;
  }

  .buttons{
    display: flex;
    justify-content: space-around;
    margin: 10px;
  }

  .project-git, .project-url{
    margin: auto 10px;
    font-size: 30px;
  }

}