.card-container{
  display: flex;
  flex-direction: column;
}

.image-description{
  display: flex;
  flex-direction: row;
}

.project-card{
  margin: auto 10%
}

.project-details{
  display: flex;
  flex-direction: column;
  margin: auto 10px;
}

.project-image{
  max-height: 300px;
}

.project-title{
  text-align: center;
}